.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.text-justify {
  text-align: justify;
}

.my-3 {
  margin: 15px 0;
}

.bg-white {
  background-color: white !important;
}
